body {
    background: #F2E14C;
    /* padding-top: .2em; */
    /* display: flex; */
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: max-content;
    height: 10em;
    width: 100%;
    align-items: center;
    margin-top: -5em;
    margin-bottom: 3em;
}

.navSvg svg{
    grid-column: 1/2;
    grid-row: 1/2;
    transform: scale(.3);
}


nav a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    height: fit-content; 
    font-size: 1.5rem;
    color: #47059B;
    font-family: 'Hind Guntur', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.who {
    grid-column: 2/3;
    grid-row: 1/2;
}

.what {
    grid-column: 3/4;
    grid-row: 1/2;
}

.how {
    grid-column: 4/5;
    grid-row: 1/2;
}
a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(105, 96, 204);
}

#who {
    padding-top: 6em;
    display: grid;
    width: 100%;
    overflow: hidden;
    /* max-width: 90%; */
}

.whoSvgR, .whoSvgL {
    transform: scale(4);
    z-index: 0;
    margin-top: -13em;
}

.whoSvgR {
    justify-self: right;
}
.whoSvgL {
    justify-self: left;
}

.whoTitle{
    /* background: #000; */
    font-size: 13em;
    font-weight: 600;
    justify-self: center;
    color: rgb(105, 96, 204);
    z-index: 1;
    /* margin-left: 1.5em; */
}

.whoContent {
    margin-top: 25em;
}





form {
    font-size: .8em;
    text-align: center;
}

footer {
    font-size: .7em;
}