body {
    background: #F2E14C;
    /* padding-top: .2em; */
    /* display: flex; */
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: grid;
    position: fixed;
    top: 0;
    overflow: hidden;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    height: 13em;
    width: 100%;
    align-items: center;
    margin-top: -5em;
    margin-bottom: 3em;
}

.navSvg svg{
    grid-column: 1/2;
    grid-row: 1/2;
    transform: scale(.3);
}


nav a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    height: fit-content; 
    font-size: 1.5rem;
    color: #47059B;
    font-family: 'Hind Guntur', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 2s ease-in-out;
}

.who {
    grid-column: 2/3;
    grid-row: 1/2;
}

.what {
    grid-column: 3/4;
    grid-row: 1/2;
}

.how {
    grid-column: 4/5;
    grid-row: 1/2;
}
a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(116, 108, 231);
    /* transition: .5s; */
}

#who {
    padding-top: 13em;
    display: grid;
    width: 100%;
    overflow: hidden;
    /* max-width: 90%; */
}

.whoSvgR, .whoSvgL {
    transform: scale(4);
    z-index: 0;
    margin-top: -13em;
}

.whoSvgR {
    justify-self: right;
}
.whoSvgL {
    justify-self: left;
}

.whoTitle{
    /* background: #000; */
    font-size: 13em;
    font-weight: 600;
    justify-self: center;
    color: rgb(105, 96, 204);
    z-index: 1;
    /* margin-left: 1.5em; */
}



.follow {
    display: grid;
    justify-content: space-around;
    text-decoration: none;
    height: fit-content; 
    font-size: 1.5rem;
    color: #47059B;
    font-family: 'Hind Guntur', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 2s ease-in-out;
}
.whoIMG {
    transform: rotate(90deg);
}
#whoContent{
    
    display: inline;
    margin-top: 55em;
    padding-top: 8em;
    /* background: red; */
}
h2 {
    font-size: 7em;
    font-weight: 600;
    color: rgb(105, 96, 204);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #FFA5FB;
    
}

.whoP {
    font-size: 2em;
    text-align: center;
    color: #47059B;
}


#what {
    padding-top: 7em;
    display: grid;
    width: 100%;
    overflow: hidden;
    margin-top: 70em;
    background: #FFA5FB;
    height: fit-content;
    padding-bottom: 50em;
}

.whatTitle {
    font-size: 13em;
    font-weight: 600;
    justify-self: center;
    color: #2418A7;
    z-index: 1;
}

.whatSvg {
    display: flex;
    transform: scale(2);
    z-index: 0;
    margin-left: 8em;
    margin-top: -15em;
}


.click  {
    display: grid;
    justify-content: right;
    text-decoration: none;
    margin-right: 8em;
    height: fit-content; 
    font-size: 1.5rem;
    color: rgb(134, 14, 98);
    font-family: 'Hind Guntur', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 2s ease-in-out;
}


#whatContent {
    display: grid;
    grid-template-areas:
        "image1 item1"
        "image2 item2"
        "image3 item3";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    margin-top: 55em;
    padding-top: 8em;
    margin-left: 1em;
    margin-right: 1em;
}


.item1 {
    grid-area: item1;
    font-size: 2em;
    text-align: center;
    color: #47059B;
}

.img1 {
    grid-area: image1;
}

.item2 {
    grid-area: item2;
    font-size: 2em;
    text-align: center;
    color: #47059B;
}

.img2 {
    grid-area: image2;
}
.item3 {
    grid-area: item3;
    font-size: 2em;
    text-align: center;
    color: #47059B;
}

.img3 {
    grid-area: image3;
}


#howContent {
    margin-top: 50em;
}
#how {
    background: rgb(212, 154, 226);
    padding-top: 10em;
    display: grid;
    width: 100%;
    overflow: hidden;
    margin-top: 67em;
    height: fit-content;
    padding-bottom: 50em;
}

.howTitle {
    font-size: 13em;
    font-weight: 600;
    justify-self: center;
    color: #2418A7;
    z-index: 1;
}

.howIMG {
    display: flex;
    transform: scale(1);
    z-index: 0;
    justify-self: left;
    margin-left: -8em;
    margin-top: -49em;
} 

.come {
    margin-top: -14em;
    text-decoration: none;
    margin-left: 8em;
    height: fit-content; 
    font-size: 1.5rem;
    color: rgb(14, 22, 134);
    font-family: 'Hind Guntur', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 2s ease-in-out;
    z-index: 1;
}



.ig {
    display: inline;
    padding-top: 14em;
}

.tt {
    margin-top: 24em;
}

#logos {
    margin-top: 3em;
}

form {
    /* margin-top: 55em; */
    font-size: .8em;
    text-align: center;
}

footer {
    font-size: .7em;
}